.pipeliner/data/.buildId
pipeliner-*.zip
pipeliner-docker-*.tar.xz
test_report-*.txt

.ssh/

.npm/
node_modules/

.dotnet/
.nuget/
.local/share/NuGet/
.templateengine/
**/bin/
**/obj/


test-report.json
test-report.xml
lint-report.json