.pipeliner/data/.buildId
pipeliner-*.zip
pipeliner-docker-*.tar.xz
*_test_report-*.txt

tmp.*log

.ssh/
.local/
.bash_history
.ash_history

.npm/
node_modules/

.dotnet/
.nuget/
.templateengine/
**/bin/
**/obj/

.gradle/
.kotlin/
examples/**/*.jar
examples/**/*.class
examples/**/build/

.composer/
examples/**/vendor/

test-report.json
test-report.xml
lint-report.json