.pipeliner/data/.buildId
pipeliner-*.zip
pipeliner-docker-*.tar.xz
*_test_report-*.txt

tmp.*log

.config/
.cache/
.ssh/
.local/
.bash_history
.ash_history

.npm/
node_modules/

.dotnet/
.nuget/
.templateengine/
**/bin/
**/obj/

examples/**/app
coverage.out

examples/**/dist/

.gradle/
.kotlin/
examples/**/*.jar
examples/**/*.class
examples/**/build/

.composer/
examples/**/vendor/

test-report.json
test-report.xml
test-report.txt
lint-report.json
lint-report.html
lint-report.txt

.vagrant/
